*.class
*.jar
javadoc/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# VIM
*~

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Eclipse
.project
.classpath
.settings/
